<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Breast Cancer Prediction</h1>
    <form id="predict-form">
        <div class="inputs">
            <!-- Dynamically generated inputs using JS -->
        </div>
        <button type="submit">Predict</button>
    </form>

    <div id="result"></div>

    <script>
        const featureNames = {{ feature_names|tojson }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


